<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.XamarinFormsKatas">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
    <application android:label="XamarinFormsKatas.Android">
      <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAtGjqN6KT5WnphRWPWgB-DAYG8I0Vemz8"/>
    </application>
</manifest>
